.calendar-table{
    width: 70% ;
    border-collapse: collapse;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
}

.calendar-table th,
.calendar-table td{
    border:1px solid #c0c0c0;
    padding: 10px;
}    

.calendar-table .header{
    background-color: #4c586f;
    color: #fff;
    font-size: 15px;
}

.month {
    text-align: center;
    width: 100%;
}

.left{
    float: left;
}

.right{
    float: right;
}

.day {
    height: 100px;
}
        
 